AlignedRdataFormatters::TXT() breaks Google site verification

Since moving over to using this library for some of our DNS handling, we've notice that google site verification is now broken for new domains.

This appears to be due to the fact that the[ above mentioned method](https://github.com/Badcow/DNS/blob/master/lib/AlignedRdataFormatters.php#L84-L106) is splitting the TXT records at 40 characters, presumably just for easier readability.

This results in split strings in the resulting record. From what I can gather, they should be concat'ing these strings together, but that does not appear to be happening.

After further reading, I found [RFC4408, section 3.1.3](https://www.rfc-editor.org/rfc/rfc4408#section-3.1.3). However, this specific RFC only related to SPF-type TXT records, and not general validation records such as the one used for Google Site Verification.

I've illustrated the issue below:

```
$ dig franklaszlo.com txt +short
"google-site-verification=FNI0xUTGqcdI8YX" "xaPf_3mj33BYnNtY23ddD2Zl1ECc"
```

```
$ grep -C2 site-verification zones/f/franklaszlo.com 
; TXT RECORDS
@                   300   IN TXT   ( 
                                     "google-site-verification=FNI0xUTGqcdI8YX"
                                     "xaPf_3mj33BYnNtY23ddD2Zl1ECc"
                                   )
```


![Screenshot 2023-07-21 at 10 31 59 AM](https://github.com/Badcow/DNS/assets/1486486/e85ee937-d895-4f77-99b0-05b39e670d51)

I'm not sure what the best fix here is, other than changing the split to be the max, 255 characters, for TXT records.

Let me know if you need further information

Hi @laszlof 

The simplest path forward is to just use the `ZoneBuilder` class instead of the `AlignedBuilder` to render the zone.

Another option is to override the default `TXT` formatter with your own implementation `AlignedBuilder->addRdataFormatter()`. See [Docs: AlignedZoneBuilder](https://github.com/Badcow/DNS/blob/master/docs/AlignedZoneBuilder.md)

Suitable workarounds available. The AlignedBuilder is an opinionated renderer which may not be suitable for all situations.