Using , as domain name should reset last stated domain

In RFC1035 (section 5), it's mentioned that:

> If an entry for an RR begins with a blank, then the RR is assumed to be owned by the last stated owner. If an RR entry begins with a , then the owner name is reset.

But the parser doesn't behave like this.

My bad! it was `begins with a <domain-name>, then the owner name is reset`